torch @ https://download.pytorch.org/whl/cu121/torch-2.1.0%2Bcu121-cp310-cp310-linux_x86_64.whl#sha256=0d4e8c52a1fcf5ed6cfc256d9a370fcf4360958fc79d0b08a51d55e70914df46; platform_system == "Linux"
torch >= 2.1.0; platform_system == "Darwin"
transformers>=4.25.1
diffusers>=0.0.1
lightning>=1.4.0
opencv-python >= 4.5.1
accelerate>=0.25.0
scipy>=1.11.0
numpy>=1.21.0
torchvision>=0.17.0
tensorboard